.container{
	width:80%;
	margin:0 auto;
}
h1{
	font-size:2.2rem;
}
p{
	font-size:1.5rem;
}
aside{
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background-color: lightgray;
}